{% extends 'base.html' %}
{% block title %} Webping | Thêm mới {% endblock %}
{% block content %}
    <section class="add-website mt-5 pt-5 container d-flex flex-column">
        <div class="card bg-light p-4">
            <a href="{% url 'websites' %}" class="mb-2 text-white align-self-start btn btn-secondary"><i
                    class="fas fa-backward"></i> Quay lại</a>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger col-md-6">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger col-md-6">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% ifequal message.tags 'error' %}
                                <div class="alert alert-danger col-md-6">
                                    <span>{{ message }}</span>
                                </div>
                            {% endifequal %}
                        {% endfor %}
                    </ul>
                {% endif %}

                <fieldset>
                    <!-- Form Name -->
                    <legend>Thêm website theo dõi</legend>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"
                               for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        <div class="col-md-4">
                            {{ form.name }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"
                               for="{{ form.uri.id_for_label }}">{{ form.uri.label }}</label>
                        <div class="col-md-4">
                            {{ form.uri }}
                        </div>
                    </div>

                    <div class="row">
                        <!-- Select Basic -->
                        <div class="form-group col-md">
                            <label class="col-md-5 control-label"
                                   for="{{ form.gaptime_monitor.id_for_label }}">{{ form.gaptime_monitor.label }}</label>
                            <div class="col-md-8">
                                <select id="gaptime_monitor" name="gaptime_monitor" class="form-control">
                                    {% for  g_value, g_label in form.fields.gaptime_monitor.choices %}
                                        <option value="{{ g_value }}">{{ g_label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label class="col-md-4 control-label"
                                   for="{{ form.status_monitor.id_for_label }}">{{ form.status_monitor.label }}</label>
                            <div class="col-md-8">
                                <select id="status_monitor" name="status_monitor" class="form-control">
                                    {% for  g_value, g_label in form.fields.status_monitor.choices %}
                                        <option value="{{ g_value }}">{{ g_label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="btn_continuar"></label>
                        <div class="col-md-4">
                            <button id="btn_continuar" name="btn_continuar" class="btn btn-primary">Thêm</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
    <br/>
    <br/>
    <br/>
{% endblock %}
