{% extends 'base.html' %}
{% block title %} Webping | Sửa {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="edit-website mt-5 pt-5 container d-flex flex-column">
        <div class="card bg-light p-4">
            <a href="{% url 'monitor_website' website.id %}"
               class="mb-2 text-white align-self-start btn btn-secondary"><i
                    class="fas fa-backward"></i> Quay lại chi tiết</a>
            <form class="form-horizontal" method="post">
                {% csrf_token %}

                <fieldset>
                    <!-- Form Name -->
                    <legend>Chỉnh sửa chi tiết</legend>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="">{{ form.name.label }}</label>
                        <div class="col-md-4">
                            {{ form.name }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="">{{ form.uri.label }}</label>
                        <div class="col-md-4">
                            {{ form.uri }}
                        </div>
                    </div>

                    <div class="row">
                        <!-- Select Basic -->
                        <div class="form-group col-md">
                            <label class="col-md-5 control-label"
                                   for="{{ form.gaptime_monitor.id_for_label }}">{{ form.gaptime_monitor.label }}</label>
                            <div class="col-md-8">
                                <select id="gaptime_monitor" name="gaptime_monitor" class="form-control">
                                    {% for  g_value, g_label in form.fields.gaptime_monitor.choices %}
                                        <option value="{{ g_value }}"
                                                {% ifequal form.instance.gaptime_monitor g_value %}
                                                selected
                                                {% endifequal %}>{{ g_label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label class="col-md-4 control-label"
                                   for="{{ form.status_monitor.id_for_label }}">{{ form.status_monitor.label }}</label>
                            <div class="col-md-8">
                                <select id="status_monitor" name="status_monitor" class="form-control">
                                    {% for  g_value, g_label in form.fields.status_monitor.choices %}
                                        <option value="{{ g_value }}"
                                                {% ifequal form.instance.status_monitor g_value %}
                                                selected
                                                {% endifequal %}>{{ g_label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-row d-flex justify-content-between mt-3">
                        <button type="button" class="btn btn-danger text-uppercase" data-toggle="modal"
                                data-target="#confirmDeleteModal">
                            Xoá website
                        </button>
                        <input type="submit" class="d-inline-block btn btn-primary text-uppercase" value="Cập nhật">
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content p-3">
                <p>Bạn có chắc chắn muốn xoá website này?</p>
                <form action="{% url 'delete_website' website.id %}"
                      class="modal-action d-flex justify-content-center mb-2">
                    {% csrf_token %}
                    <button type="button" class="btn mx-2 btn-danger text-uppercase" data-dismiss="modal">Bỏ qua
                    </button>
                    <button type="submit" class="btn mx-2 btn-success text-uppercase">Đồng ý</button>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <br/>
{% endblock %}
