{% extends 'base.html' %}
{% block title %} Webping | Chi tiết {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="monitor-website mt-5 pt-5 container d-flex flex-column">
        <div class="card bg-light p-4">
            <div class="d-flex justify-content-between mb-3">
                <a href="{% url 'websites' %}" class="mb-2 text-white align-self-start btn btn-secondary"><i
                        class="fas fa-backward"></i> Trở lại danh sách </a>
                <a href="{% url 'edit_website' website.id %}"
                   class="mb-2 align-self-end text-uppercase btn btn-primary">Sửa
                </a>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% ifequal message.tags 'success' %}
                            <div class="alert alert-success col-md-6">
                                <span>{{ message }}</span>
                            </div>
                        {% endifequal %}
                    {% endfor %}
                </ul>
            {% endif %}
            <span class="h3">Thông tin website theo dõi {{ website.name }}</span>
            <span class="h6">Địa chỉ URL: <a class="text-dark" href="http://{{ website.uri }}"
                                             target="_blank">{{ website.uri }}</a></span>
            <span class="h6 text-dark">Tần suất kiểm tra: {{ website.gaptime_monitor }} giây/lần</span>
            <span class="h6 text-dark">Trạng thái:
                {% ifequal website.status_monitor 0 %}
                    Tạm dừng
                {% else %}
                    Đang theo dõi
                {% endifequal %}
            </span>
            <span class="h6 text-dark">Người tạo:
                {% if not website.user_id.first_name %}
                    {{ website.user_id.username }}
                {% else %}
                    {{ website.user_id.first_name }} {{ website.user_id.last_name }}
                {% endif %}
            </span>
            <span class="h6 text-dark">Ngày tạo: {{ website.create_at|date:"d/m/Y H:i" }}</span>
            <span class="h6 text-dark">Cập nhật lần cuối: {{ website.update_at|date:"d/m/Y H:i" }}</span>
            {% if website.ip_address is not None %}
                <span class="h6 text-dark">Địa chỉ IP: {{ website.ip_address }}</span>
            {% endif %}
            {% if website.name_server is not None %}
                <span class="h6 text-dark">Máy chỉ DNS: {{ website.name_server }}</span>
            {% endif %}
        </div>
    </section>
    <br/>
    <br/>
{% endblock %}
