{% extends 'base.html' %}
{% block css %}
    <style>
        ul {
            list-style: none;
        }
    </style>
{% endblock %}
{% block title %} Đổi mật khẩu {% endblock %}
{% block active %}
    <div class="my-2 my-sm-0 mr-3 " href='#'>
        <div class="dropdown d-inline-block ">
            <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if not user.first_name %}
                    Welcome {{ user.username }}
                {% else %}
                    Welcome {{ user.first_name }}
                {% endif %}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'profile' user.id %}">Hồ sơ</a>
                <a class="dropdown-item" href="{% url 'change_password' %}">Đổi mật khẩu</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="container card mt-5 mb-5" style="background-color:
                #f8f8f8;">
                    </br>
                    <h5>Đổi mật khẩu</h5>
                    <hr/>
                    <li class="row border-primary d-flex justify-content-center align-items-center">
                        <form method="post">
                            <div class="col-lg-6 row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="user_old_password"><h6>Mật khẩu
                                            cũ *</h6></label>
                                        {{ form.old_password }}
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="password2"><h6>Nhập mật khẩu mới
                                            *</h6></label>
                                        {{ form.new_password1 }}
                                        <small id="new_pass_mess_1" class="tpass2"></small>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="password2"><h6>Xác nhận mật khẩu
                                            mới*</h6></label>
                                        {{ form.new_password2 }}
                                        <small id="new_pass_mess_2" class="tpass2"></small>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <button type="submit" class="pl-3 pr-3 btn btn-success">
                                            Cập nhật mật khẩu
                                        </button>
                                    </div>
                                </div>
                                {% if form.errors %}
                                    <div class="col-lg-12 form-group d-flexjustify-content-center">
                                        <ul style="text-decoration: none">
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li class="alert alert-danger">
                                                        {{ error|escape }}
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                        <ul style="text-decoration: none">
                                            {% for error in form.non_field_errors %}
                                                <li class="alert alert-danger">
                                                    {{ error|escape }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% else %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% ifequal message.tags 'success' %}
                                                <div class="alert alert-success">
                                                    <span>{{ message }}</span>
                                                </div>
                                            {% endifequal %}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </form>
                    </li>
                </div>
            </div>
        </div>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script>
        function checkPasswordLength(id, id_msg) {
            let old_password = document.getElementById(id).value;
            if (old_password.length < 8) {
                document.getElementById(id_msg).style.color = 'red';
                document.getElementById(id_msg).innerHTML = "Mật khẩu không thể ít hơn 8 ký tự";
                return false;
            } else {
                document.getElementById(id_msg).innerHTML = "";
                return true;
            }
        }

        function matchingPassword(id, id_msg) {
            if (checkPasswordLength(id, id_msg)) {
                let new_pass_1 = document.getElementById('id_new_password1').value;
                let new_pass_2 = document.getElementById(id).value;

                if (new_pass_1 != new_pass_2) {
                    document.getElementById(id_msg).style.color = 'red';
                    document.getElementById(id_msg).innerHTML = "Hai mật khẩu không khớp nhau"
                } else {
                    document.getElementById(id_msg).innerHTML = "";
                }
            }
        }
    </script>
{% endblock %}
