{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebPing - Monitors web changes</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel=" stylesheet" href="{% static 'css/landingpage.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>
<body id="page-templates_home_aspx">
<header role="banner">
    <div class="container">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="WebPing" width="176" height="110"></a>
        <nav class="menu">
            <ul class="menu">
                <li id="menu_usecases" class="h5"><a href="{% url 'landing_page' %}#usecases">Trường hợp sử dụng</a>
                </li>
                <li id="menu_features" class="h5"><a href="{% url 'landing_page' %}#features">Tính năng</a></li>
                <li class="h5 signIn-button"><a class="button button-minimal" href="{% url 'login' %}">Sign in</a></li>
                <li class="h5 signUp-button"><a class="button button-minimal" href="{% url 'register' %}">Sign up</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="black_placeholder">
</div>

<div class="introduction">
    <div class="topcontainer"></div>
    <div class="container">
        <div class="row">
            <div class="col span_6">
                <div class="collect">
                    <h1 class="h3">Giám sát trang web hoặc toàn bộ cổng thông tin</h1>
                    <br>Chọn nội dung trên bất kỳ trang web nào bạn muốn theo dõi hoặc chọn để giám sát toàn bộ cổng
                    thông tin với các trang con.</p>
                </div>
                <div class="setup-notifications">
                    <h2 class="h3">Nhận thông báo về những thay đổi</h2>
                    <p>Thiết lập thông báo thông minh và được cảnh báo về những thay đổi qua email.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TRY IT NOW -->
<div id="try-now" class="try-now centered-header">
    <div class="container">
        <h2>Hãy thử miễn phí bây giờ!</h2>
        <p>Nhập URL của trang bạn muốn theo dõi và chúng tôi sẽ lo phần còn lại.</p>
        <input class="" type="text" placeholder="http://www.example.com"
               data-bind="value: url, valueUpdate: 'input', onEnter: createWachet">
        <button class="start-monitoring-button" type="submit"
                data-bind="click: createWachet, enable: enableCreateWachetButton"> Theo dõi
        </button>
    </div>
</div>

<!-- USE CASES -->
<div id="usecases" class="features">
    <div class="container">
        <h2 class="centered-header">Trường hợp sử dụng</h2>
        <p class="introText centered-header">Với Webping, bạn có thể dễ dàng tự động hóa các tác vụ lặp đi lặp lại và
            tiết kiệm thời gian trong cuộc sống hàng ngày hoặc trong doanh nghiệp.</p>

        <div class="row featureList">
            <div class="col span_4 feature trackCompetition">
                <div class="icon"></div>
                <h3 class="h4">Theo dõi cạnh tranh</h3>
                <p>Là chủ cửa hàng, dễ dàng theo dõi mức giá mà đối thủ đang bán các sản phẩm giống như bạn làm.</p>
            </div>

            <div class="col span_4 feature defacementDetection">
                <div class="icon"></div>
                <h3 class="h4">Phát hiện sai lệch</h3>
                <p>Là quản trị viên web, hãy đảm bảo rằng không ai thay thế nội dung trên trang của bạn mà bạn không
                    biết.</p>
            </div>
        </div>
        <div class="row featureList">
            <div class="col span_4 feature websiteHealth">
                <div class="icon"></div>
                <h3 class="h4">Kiểm tra sức khỏe trang web</h3>
                <p>Là chủ sở hữu trang web, biết khi nào một trang web của bạn vẫn còn hoạt động.</p>
            </div>

            <div class="col span_4 feature websiteAudit">
                <div class="icon"></div>
                <h3 class="h4">Thay đổi kiểm toán trang web</h3>
                <p>Là một công ty cung cấp kiểm toán tuân thủ pháp luật, được thông báo khi khách hàng của bạn sửa đổi
                    nội dung trên trang web của họ.</p>
            </div>

            <div class="col span_4 feature jobOpenings">
                <div class="icon"></div>
                <h3 class="h4">Cơ hội việc làm mới</h3>
                <p>Là một nhà tuyển dụng, nhận thông báo khi các công ty đăng lời mời làm việc mới. </p>
            </div>
        </div>
    </div>
</div>

<!-- FEATURES -->
<div id="features" class="features">
    <div class="container">
        <h2 class="centered-header">Tính năng</h2>
        <p class="introText centered-header">Chúng tôi cung cấp một loạt các tính năng lớn và liên tục bổ sung các tính
            năng mới. Có một tính năng bạn bỏ lỡ? Đừng ngần ngại <a href="#">liên lạc với chúng tôi</a>.
        </p>
        <div class="row featureList mainFeatures">
            <div class="col span_3 feature lock">
                <div class="iconSmall"></div>
                <h3 class="h6">Theo dõi các trang được bảo vệ bằng mật khẩu</h3>
            </div>

            <div class="col span_3 feature proxy">
                <div class="iconSmall"></div>
                <h3 class="h6">Chúng tôi giám sát các trang từ máy chủ ở các vị trí khác nhau</h3>
            </div>

            <div class="col span_3 feature emails">
                <div class="iconSmall"></div>
                <h3 class="h6">Gửi email tóm tắt hàng ngày hoặc hàng tuần với các thay đổi từ một số trang</h3>
            </div>

            <div class="col span_3 feature click">
                <div class="iconSmall"></div>
                <h3 class="h6">Giám sát các trang yêu cầu nhấp hoặc gửi giá trị</h3>
            </div>
        </div>

        <div class="row featureList mainFeatures">
            <div class="col span_3 feature specificContent">
                <div class="iconSmall"></div>
                <h3 class="h6">Giám sát một phần cụ thể của trang web</h3>
            </div>

            <div class="col span_3 feature wholePage">
                <div class="iconSmall"></div>
                <h3 class="h6">Giám sát toàn bộ trang web bao gồm các trang con được thu thập thông tin</h3>
            </div>

            <div class="col span_3 feature history">
                <div class="iconSmall"></div>
                <h3 class="h6">Thu thập lịch sử, thay đổi và nội dung web</h3>
            </div>

            <div class="col span_3 feature charts">
                <div class="iconSmall"></div>
                <h3 class="h6">Xem dữ liệu số trong biểu đồ</h3>
            </div>
        </div>

        <div class="row featureList mainFeatures">
            <div class="col span_3 feature dynamic">
                <div class="iconSmall"></div>
                <h3 class="h6">Theo dõi các trang động và javascript</h3>
            </div>

            <div class="col span_3 feature notification">
                <div class="iconSmall"></div>
                <h3 class="h6">Thiết lập email thông báo khi nội dung đã thay đổi</h3>
            </div>

            <div class="col span_3 feature rss">
                <div class="iconSmall"></div>
                <h3 class="h6">Tạo nguồn cấp RSS từ nội dung của bất kỳ trang nào</h3>
            </div>
        </div>

        <div class="row featureList mainFeatures">
            <div class="col span_3 feature availability">
                <div class="iconSmall"></div>
                <h3 class="h6">Giám sát tính khả dụng của các trang web.</h3>
            </div>

            <div class="col span_3 feature binary">
                <div class="iconSmall"></div>
                <h3 class="h6">Theo dõi cập nhật văn bản trong các tệp PDF, MS Word, DOCX, XLSX hoặc JSON trên web hoặc
                    theo dõi thay đổi kích thước tệp.</h3>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4 text-light border-top border-ligh navbar-fixed-bottom">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase" style="color: white">WebPing</h5>
                <p>Website cung cấp giải pháp an toàn cho trang web của bạn. Là sản phẩm đang trong quá trình thử
                    nghiệm và không ngừng nâng cấp. Để giúp bạn có những trải nghiệm tốt nhất, bất cứ ý kiến nào có
                    thể liên hệ với chúng tôi.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase" style="color: white">About us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="#!">Giấy phép</a>
                    </li>
                    <li>
                        <a href="#!">Điều khoản</a>
                    </li>
                    <li>
                        <a href="#!">Ứng dụng liên quan</a>
                    </li>
                    <li>
                        <a href="#!">Góp ý</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase" style="color: white">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-home mr-3"></i> Số 1, Phạm Văn Bạch, Cầu Giấy, Hà Nội</p>
                    </li>
                    <li>
                        <i class="fas fa-envelope mr-3"></i> CSOC@fpt.com.vn</p>
                    </li>
                    <li>
                        <i class="fas fa-phone mr-3"></i> + 0123456789</p>
                    </li>
                    <li>
                        <i class="fab fa-facebook-f mr-3"></i> <a href="#">WebPing</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr/>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#"> CSOC</a>
    </div>
</footer>
<script src="{% static 'js/landingpage.min.js' %}"></script>
<script src="{% static 'popper.js/dist/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'fontawesome/js/all.min.js' %}"></script>
</body>
</html>
