{% extends "base.html" %}
{% block title %}Đăng nhập{% endblock %}
{% block active %}
    <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-success my-2 my-sm-0 mr-3 active" href='{% url 'login' %}'>Đăng nhập</a>
        <a class="btn btn-outline-success my-2 my-sm-0 " href='{% url 'register' %}'>Đăng ký</a>
    </form>
{% endblock %}
{% block content %}
    <form action="{% url 'login' %}" method='POST'>
        <div class="container mt-3 mb-4">
            <div style="height:60px;">
            </div>
            <div class="row dflex justify-content-center align-items-center">
                <div class="col-lg-6 ">
                    <div class="card">
                        </br>
                        <div class="text-center">
                            <h5>Đăng nhập</h5>
                        </div>
                        <div class="col-lg-9 mx-auto">
                            <hr/>
                        </div>
                        {% csrf_token %}
                        <div class="row border-primary d-flex justify-content-center align-items-center ">
                            <div class="col-lg-8 row">
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            {% ifequal message.tags 'error' %}
                                                <div style="color: red">
                                                    <i class="fa fa-times" style="color: red"></i>
                                                    <strong>{{ message }}</strong>
                                                </div>
                                            {% endifequal %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="" id="txemail"><h6>Email *</h6></label>
                                        <input type="text" name="email" id="email" required class="form-control"
                                               placeholder="Email đăng ký" aria-describedby="helpId"
                                               value="{{ email }}">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="d-flex">
                                            <label for="" class="mr-3" id="tpassword"><h6>Mật khẩu</h6></label>
                                            <a href="{% url 'password_reset' %}" class="ml-auto"> Quên mật khẩu </a>
                                        </div>
                                        <input type="password" name="password" id="password" class="form-control"
                                               required placeholder="Mật khẩu" aria-describedby="helpId">
                                        <small id="tpass" class="tpass"></small>
                                    </div>
                                </div>

                                <div class="col-lg-12 mt-3">
                                    <input name="dangnhap" id="dangnhap" class="btn btn-success btn-block "
                                           type="submit" value="Đăng nhập">
                                </div>
                                <div class="col-lg-12 mt-3 mb-3 text-center">
                                    <hr>
                                    <p>Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký</a> ngay nào.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <footer class="page-footer">
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> CSOC</a>
        </div>
    </footer>
{% endblock %}
