{% extends "base.html" %}
{% block title %}Quên mật khẩu{% endblock %}
{% block active %}
    <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-success my-2 my-sm-0 mr-3 " href="{% url 'login' %}">Đăng nhập</a>
        <a class="btn btn-outline-success my-2 my-sm-0  " href="{% url 'register' %}">Đăng ký</a>
    </form>
{% endblock %}
{% block content %}
    <form method='POST'>
        {% csrf_token %}
        <div class="row justify-content-center align-items-center ">
            <div class="col-lg-6 ">
                <div class="container card mt-5 mb-5" style="background-color: #f8f8f8;">
                    </br>
                    <h5>Quên mật khẩu </h5>

                    <hr/>
                    <div class="row border-primary d-flex justify-content-center align-items-center ">
                        <div class="col-lg-8 row">
                            {% if  form.new_password2.errors %}
                                <div class=" col-lg-12">
                                    <div class="alert alert-danger ">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {% for errors in form.new_password2.errors %}
                                            <h6 class="font-weight-bold">{{ errors|striptags }}</h6>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="password1"><h6>Mật khẩu *</h6></label>
                                    <input type="password" name="new_password1" id="id_new_password1" required
                                           class="form-control" placeholder="Mật khẩu">
                                    <small id="tpass1" class="tpass1"></small>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="password2"><h6>Nhập lại mật khẩu *</h6></label>
                                    <input type="password" name="new_password2" id="id_new_password2" required
                                           class="form-control" placeholder="Nhập lại mật khẩu">
                                    <small id="tpass2" class="tpass2"></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 mt-2 mb-5 form-group d-flex justify-content-center">
                            <button type="submit" class="pl-5 pr-5 btn btn-success ">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
