{% extends "base.html" %}
{% block title %}Quên mật khẩu{% endblock %}
{% block active %}
    <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-success my-2 my-sm-0 mr-3 " href="{% url 'login' %}">Đăng nhập</a>
        <a class="btn btn-outline-success my-2 my-sm-0  " href="{% url 'register' %}">Đăng ký</a>
    </form>
{% endblock %}
{% block content %}
    <form method='POST'>
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center align-items-center ">
                <div class="col-lg-8 ">
                    <div class="container card mt-5 mb-5" style="background-color: #f8f8f8;">
                        </br>
                        <h5>Quên mật khẩu</h5>
                        <hr/>
                        <div class="row border-primary d-flex justify-content-center align-items-center ">
                            <div class="col-lg-7 row">
                                {% if form.email.errors %}
                                    <div class=" col-lg-12">
                                        <div class="alert alert-danger ">
                                            <a href="#" class="close" data-dismiss="alert"
                                               aria-label="close">&times;</a>
                                            <strong>{{ form.email.errors|striptags }}</strong>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-lg-12">
                                    <div class="form-group ">
                                        <label for=""><h6>Nhập email để đặt lại mật khẩu tới cho bạn.</h6></label>
                                        <input type="text" name="email" id="email" required class="form-control"
                                               placeholder="Email..." aria-describedby="helpId">
                                        <small id="temail" class="temail"></small>

                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-7 mt-2 mb-5 d-flex justify-content-center">
                                <button type="submit" class="pl-5 pr-5 btn btn-success " id="comfirm">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
