{% extends 'base.html' %}
{% block title %} Hồ sơ người dùng {% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
    <section class="websites">
        <div class="d-flex mt-5" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action
                    bg-light"><i
                            class="far fa-bell mr-3"></i>Notifications</a>
                    <a href="#" class="list-group-item list-group-item-action
                    bg-light"><i
                            class="far fa-file-alt mr-3"></i>Websites</a>
                </div>
            </div>
            <div id="page-content-wrapper" class="mb-3">
                <div id="page-content-title" class="bg-light border-bottom">
                    <h2>Thông tin cá nhân</h2>
                </div>

                <div class="container card mb-5" style="background-color: #f8f8f8;">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% ifequal message.tags 'success' %}
                                    <div class="alert alert-success">
                                        <span>{{ message }}</span>
                                    </div>
                                {% endifequal %}
                                {% ifequal message.tags 'error' %}
                                    <div class="alert alert-danger">
                                        <span>{{ message }}</span>
                                    </div>
                                {% endifequal %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="post" action="{% url 'profile' user_id %}" name="update-form">
                        {% csrf_token %}
                        <div class="row border-primary d-flex justify-content-center
                        align-items-center">
                            <div class="col-lg-6 row">
                                <div class="col-sm-5 mt-3">
                                    <div class="form-group">
                                        <label for="{{ user.first_name.id_for_label }}">
                                            <h6>{{ user.first_name.label }}</h6></label> {{ user.first_name }}
                                    </div>
                                </div>
                                <div class="col-sm-5 mt-3">
                                    <div class="form-group">
                                        <label for="{{ user.last_name.id_for_label }}">
                                            <h6>{{ user.last_name.label }}</h6></label> {{ user.last_name }}
                                    </div>
                                </div>

                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label for="{{ user_info.date_of_birth.id_for_label }}">
                                            <h6>{{ user_info.date_of_birth.label }}</h6>
                                        </label> {{ user_info.date_of_birth }}
                                    </div>
                                </div>

                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label for="{{ user_info.gender.id_for_label }}">
                                            <h6>{{ user_info.gender.label }}</h6>
                                        </label>
                                        <select name="gender" style="margin-left:
                                        20px;">
                                            {% for g_value, g_label in user_info.fields.gender.choices %}
                                                <option value="{{ g_value }}"
                                                        {% ifequal user_info.instance.gender g_value %}
                                                        selected
                                                        {% endifequal %}>{{ g_label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label for="{{ user_info.address.id_for_label }}">
                                            <h6>{{ user_info.address.label }}</h6>
                                        </label> {{ user_info.address }}
                                    </div>
                                </div>

                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label for="{{ user_info.phone_number.id_for_label }}">
                                            <h6>{{ user_info.phone_number.label }}</h6>
                                        </label> {{ user_info.phone_number }}
                                    </div>
                                </div>

                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label for="" id="{{ user.email.id_for_label }}"><h6>{{ user.email.label }}</h6>
                                        </label> {{ user.email }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-5">
                                        <button class="btn btn-success" type="submit">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
