#wrapper {
    width: 100%;
    height: 100%;
}

#sidebar-wrapper {
    width: 15%;
}

#page-content-title {
    margin-left: 25px;
}

#page-content-title h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

#msg {
    color: #2aea24;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

#notice {
    color: red;
    font-style: italic;
}
