{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <title> {% block title %} {% endblock %}</title>
    {% block css %}{% endblock %}
</head>

<body {% block styleBody %} {% endblock %}>
<nav class="navbar fixed-top  navbar-expand-sm navbar-light bg-dark border-bottom border-secondary">
    <a class="navbar-brand text-light mb-2" id="menu-toggle" href="#"><span class="text-white" style="font-size:20px">Web</span><span
            class="text-success" style="font-size:20px">ping</span></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
            <li class="nav-item ">
                <a class="nav-link text-light" href="{% url 'home' %}">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'landing_page' %}">Landing page</a>
            </li>
        </ul>
        {% block active %}
            {% if not user.username %}
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-outline-success my-2 my-sm-0 mr-3" href='{% url 'login' %}'>Đăng nhập</a>
                    <a class="btn btn-outline-success my-2 my-sm-0 " href="{% url 'register' %}">Đăng ký</a>
                </form>
            {% else %}
                <div class="my-2 my-sm-0 mr-3 " href='#'>
                    <div class="dropdown d-inline-block ">
                        <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if not user.first_name %}
                                Welcome {{ user.username }}
                            {% else %}
                                Welcome {{ user.first_name }}
                            {% endif %}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'change_password' %}">Đổi mật khẩu</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
</nav>
<br/>
{% block navbar %} {% endblock %}
{% block content %} {% endblock %}
<!-- Footer -->
{% block Footer %}
    <footer class="page-footer font-small bg-dark pt-4 text-light border-top border-ligh navbar-fixed-bottom">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">WebPing</h5>
                    <p>Website cung cấp giải pháp an toàn cho trang web của bạn. Là sản phẩm đang trong quá trình thử
                        nghiệm và không ngừng nâng cấp. Để giúp bạn có những trải nghiệm tốt nhất, bất cứ ý kiến nào có
                        thể liên hệ với chúng tôi.</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">About us</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="#!">Giấy phép</a>
                        </li>
                        <li>
                            <a href="#!">Điều khoản</a>
                        </li>
                        <li>
                            <a href="#!">Ứng dụng liên quan</a>
                        </li>
                        <li>
                            <a href="#!">Góp ý</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Contact</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-home mr-3"></i> Số 1, Phạm Văn Bạch, Cầu Giấy, Hà Nội</p>
                        </li>
                        <li>
                            <i class="fas fa-envelope mr-3"></i> CSOC@fpt.com.vn</p>
                        </li>
                        <li>
                            <i class="fas fa-phone mr-3"></i> + 0123456789</p>
                        </li>
                        <li>
                            <i class="fab fa-facebook-f mr-3"></i> <a href="#">WebPing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> CSOC</a>
        </div>
    </footer>
{% endblock %}
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'fontawesome/js/all.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
{% block script %} {% endblock %}
</body>
</html>
